body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInPriceText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.checkoutButton {
  font-size: 17.5px;
  border-radius: 12px;
  border: none;
  background-color: rgb(95, 196, 255);
}

.checkoutButton:hover {
  box-shadow: 0px 0px 10px 0px rgb(95, 196, 255);
  background-color: rgb(60, 184, 255);
}

.checkoutButton:hover {
  box-shadow: 0px 0px 10px 0px rgb(95, 196, 255);
  background-color: rgb(60, 184, 255);
}

.clearButton {
  font-size: 17.5px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 95, 95);
}

.clearButton:hover {
  box-shadow: 0px 0px 10px 0px rgb(255, 136, 136);
  background-color: rgb(255, 29, 29);
}

.cartBackground {
  background: linear-gradient(
    90deg,
    rgba(175, 232, 244, 1) 0%,
    rgba(187, 231, 252, 1) 100%
  );
}

.purpleAnimationClass {
  background: linear-gradient(270deg, #d271ff, #9131ff);
  background-size: 400% 400%;

  -webkit-animation: purpleAnimation 4s ease infinite;
  -moz-animation: purpleAnimation 4s ease infinite;
  animation: purpleAnimation 4s ease infinite;
}

@-webkit-keyframes purpleAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes purpleAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes purpleAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.orangeAnimationClass {
  background: linear-gradient(270deg, #f5b959, #f0cf4c);
  background-size: 400% 400%;

  -webkit-animation: orangeAnimation 5s ease infinite;
  -moz-animation: orangeAnimation 5s ease infinite;
  animation: orangeAnimation 5s ease infinite;
}

@-webkit-keyframes orangeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes orangeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes orangeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.greenAnimationClass {
  background: linear-gradient(270deg, #3ed278, #2bbd84);
  background-size: 400% 400%;

  -webkit-animation: greenAnimation 3s ease infinite;
  -moz-animation: greenAnimation 3s ease infinite;
  animation: greenAnimation 3s ease infinite;
}

@-webkit-keyframes greenAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes greenAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes greenAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.redAnimationClass {
  background: linear-gradient(270deg, #f34a4a, #dd438c);
  background-size: 400% 400%;

  -webkit-animation: redAnimation 30s ease infinite;
  -moz-animation: redAnimation 30s ease infinite;
  animation: redAnimation 30s ease infinite;
}

@-webkit-keyframes redAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes redAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes redAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blueAnimationClass {
  background: linear-gradient(270deg, #10b1d5, #108ed5);
  background-size: 400% 400%;

  -webkit-animation: blueAnimation 5s ease infinite;
  -moz-animation: blueAnimation 5s ease infinite;
  animation: blueAnimation 5s ease infinite;
}

@-webkit-keyframes blueAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes blueAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes blueAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fadeInPriceTextAnimation {
  animation-name: fadeInPriceText;
  animation-duration: 2s;
}

.navbarBackground {
  background: linear-gradient(
    90deg,
    rgba(150, 238, 255, 1) 0%,
    rgba(155, 219, 251, 1) 100%
  );
}

.roundedCorners {
  border-radius: 15px;
}

.clickable {
  cursor: pointer;
  transition: 0.3s;
}

.borderless {
  border: none;
}
